{% extends 'base.html' %}
{% block content %}

<h1 class="about">About Finch Collector</h1>
<p class="about">
    Whether you're a seasoned avian aficionado or just taking your first flight into the world of ornithology, our website
    is a vibrant community dedicated to celebrating the beauty, diversity, and charm of these captivating birds.<br>

    <br>
    Join us as we explore various finch species, share invaluable tips on care and breeding, showcase stunning photographs,
    and connect with fellow collectors from around the globe.<br>
    
    <br>
    Embark on a journey of discovery, learning, and camaraderie with Finch Collector– where every tweet is a song, and every feather tells a unique story.
</p>

{% endblock %}